.screen {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  &-close-btn {
    position: absolute;
    right: 27px;
    top: 11px;
    &-icon {
      width: 18px;
      height: 18px;
      stroke: $clr3;
    }
  }
  &-box {
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    &-top {
      text-align: center;
      border-bottom: 1px solid $clr2;
      padding: 6px 18px;
      position: relative;
      &-button {
        height: 18px;
        width: 18px;
        &-icon {
          width: inherit;
          height: inherit;
          stroke: currentColor;
        }
      }
      .theme-dark & {
        border-color: $clr13;
      }
      &-title {
        font-weight: 600;
        font-size: 16px;
        flex-grow: 1;
      }
    }
    &-bottom {
      padding: 16px;
      overflow: hidden auto;
      height: 350px;
    }
  }
  &-row {
    margin-bottom: 10px;
    font-size: 14px;
    &-name {
      &-username {
        font-weight: 600;
      }
      &-fullname {
        color: $clr6;
      }
    }
  }
}
