// COLOR PALETTE

$clr1: #262626;
$clr2: #dbdbdb;
$clr3: #ffffff;
$clr4: #fafafa;
$clr5: #0095f6;
$clr6: #8e8e8e;
$clr7: #ff3040;
$clr8: #737373;
$clr9: #c7c7c7;
$clr10: #00376b;
$clr11: #f5f5f5;
$clr12: #000000;
$clr13: #363636;
$clr14: #121212;

// LAYOUT BREAKPOINTS

$break-narrow: 768px;
$break-normal: 1024px;
$break-wide: 1200px;

$main-sidebar-width: 300px;
$main-sidebar-width-thin: 75px;
